@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.nav-bar-container {
  @apply border-b sticky top-0 z-30 bg-white/10 backdrop-blur-xl;
}

.nav-bar {
  @apply mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8;
}

.nav-text {
  @apply text-sm/6  text-white;
}
.logo {
  @apply h-8 w-auto;
}
